@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url('http://codame.com/uploaded_images/github-universe-after-party.jpg'); 
    background-size: cover;
    background-attachment: inherit;
}